.sectionFive{
    height: 1000px;
    background-image: url("../../Assets/Images/cubes7.png");
    background-repeat: no-repeat;
    background-position: top right;
    display: flex;
    justify-content: center;
}
.embarkContainer{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    color: #fff;
}
.embark {
    height: 700px;
    background-image: url("../../Assets/Images/Vector (58).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    padding-top: 70px;
}
.embarkImage p{
    max-width: 590px;
    margin: 30px 0 30px 0;
}
.contact button{
    height: 69px;
    width: 180px;
    background-color: #742EFF;
    color: #fff;
}
